.container{
    padding: 1em;
}

.selection{
    padding-top: 1em;
    font-size: 1.2em;
}

select{
    padding: .4em;
    border-radius: 3px;
}

.type{
    margin-right: 0.5em;
}

.rating{
    margin-right: 0.5em;
    margin-left: 1em;
}

.place-details-container{
    height: 75vh;
    padding: 1em 1em;
    overflow: auto;
}

.individual-item{
    margin: 1.5em;
}

