.placeicon {
  font-family: fontawesome;
}
.map-card-container img {
  width: 100%;
}
.map-card-container h4 {
  margin: 8px 0px;
  text-align: center;
}
.map-card-container {
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  width: 120px;
  border-radius: 15px;
  margin: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.map-card-container:hover {
  z-index: 8;
}

@media screen and (max-width: 480px){
    .map-container{
        display: none;
    }
}
